<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"coworking-office/hero-banner"} /-->
<!-- wp:group {"tagName":"main","align":"wide","className":"coworking-office-section","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"80%"}} -->
<main class="wp-block-group alignwide coworking-office-section" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
    <!-- wp:pattern {"slug":"coworking-office/services"} /-->
</main>
<!-- /wp:group -->

    <!-- wp:pattern {"slug":"coworking-office/homepage-blog"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->